<manifest package="com.bebeep.commontools"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        >
        <activity android:name=".seclectcity.SeclectCityActivity">
        </activity>
        <activity android:name=".activity.PhotoViewActivity"  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>

    </application>
</manifest>
